<div>Hello world!!</div>
<p>{{title}}</p>
<p>{{a}}</p>
<div >{{city}}</div>

{{city}}
<br>
<input type="text" value="patil" >
<br>
<input type="text" [value]="myName">
<br>
<input type="text" value="{{myName}}"><br>

<input type="text" [disabled]="isDisable"><br>
<input type="text" disabled="{{isDisable}}"><br>

<button (click)="submit()">Submit</button>
  <div>{{fruit}}</div>
<br>
Enter your player name: <input type="text" [(ngModel)]="favPlayer">
<br>
{{favPlayer}}
<br>
Enter your name : <input type="text"[(ngModel)]="yourName">
<br>
{{yourName}}
  <app-home></app-home>





 