<div>Hello world!!</div>
<p>{{title}}</p>
<p>{{a}}</p>
<div >{{city}}</div>

{{city}}
<br>
<input type="text" value="patil" >
<br>
<input type="text" [value]="myName">
<br>
<input type="text" value="{{myName}}"><br>

<input type="text" [disabled]="isDisable"><br>
<input type="text" disabled="{{isDisable}}"><br>

<button (click)="submit()">Submit</button>
  <div>{{fruit}}</div>
<br>
<hr>
<h2>Two way databinding</h2>
Enter your player name: <input type="text" [(ngModel)]="favPlayer">
<br>
{{favPlayer}}
<br>
Enter your name : <input type="text"[(ngModel)]="yourName">
<br>
{{yourName}}
<br>
Enter your favColor: <input type="text" [(ngModel)]="favColor">
<br>
{{favColor}}
<hr>
<!-- <h2>Tempalate Reference varible</h2>
<input type="text" #myInput>
<br><br>
<button (click)="getMyInput(myInput)">Click me</button>
<br>
<hr>
<h2>Directive in Angular</h2>
<h2>*ngIf directive</h2> -->


<!-- <div *ngIf="showName;then thenBlock; else elseBlock"> -->
 
<!-- </div>

<ng-template #thenBlock>
  <h2>
    Angular Directive
  </h2>
</ng-template>

<ng-template #elseBlock>
  <h2>
    Angular directive is hidden
  </h2>
</ng-template>
<hr>

<h2>*ngSwitch Directive</h2>

<div class="col-md-4">
    <select (change)="setProgramingLanguage($event)">
      <option value="defaultOption">Please Select Programing Language</option>
      <option value="TypeScript">TypeScript</option>
      <option value="JavaScript">JavaScript</option>
      <option value="Python">Python</option>
      <option value="PHP">PHP</option>
    </select>
</div>

<div class="col-md-12" [ngSwitch]="selectProgramingLanguage">
  <h2 *ngSwitchCase="'TypeScript'">TypeScript</h2>
  <h2 *ngSwitchCase="'JavaScript'">JavaScript</h2>
  <h2 *ngSwitchCase="'Python'">Python</h2>
  <h2 *ngSwitchCase="'PHP'">PHP</h2>
  <h2 *ngSwitchDefault>Please Select Programing Language</h2>
</div>

<br>
<hr>
<h2>*ngFor directive</h2>

<table class="table" border="n">
  <thead>
    <th>Index Number</th>
    <th>Product Name</th>
    <th>Product ID</th>
    <th>Product Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let myProduct of products; even as i">  -->
      
        <!-- first,last,even,odd, -->

      <!-- <td>{{i}}</td>
      <td>{{myProduct.name}}</td>
      <td>{{myProduct.id}}</td>
      <td>{{myProduct.price}}</td>
    </tr> -->
    <!-- <tr>
      <td>TV</td>
      <td>2</td>
      <td>12000</td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td>3</td>
      <td>8000</td>
    </tr>
    <tr>
      <td>Fan</td>
      <td>4</td>
      <td>2000</td>
    </tr> -->
  <!-- </tbody>
</table>
<hr>
<h2>*ngClass Directive</h2>
<br> -->






 <router-outlet></router-outlet>





 