<h2>Directive Works!</h2>

<ul>
    <b> <li>Component Directives</li><br>
     <li> Structural Directives </li><br>
     <li>Attribute Directives</li> </b>
</ul>
<p><b>Component Directives: </b>Component directives are used in main class. They contain 
     the detail of how the component should be processed, instantiated and used at runtime.</p>
<p><b>Structural Directives:</b> Structural directives start with a * sign. These directives are 
     used to manipulate and change the structure of the DOM elements.
      For example, *ngIf directive, *ngSwitch directive, and *ngFor directive.</p>
<p>*ngIf Directive: The ngIf allows us to Add/Remove DOM Element. <br>
     <br>
     *ngSwitch Directive: The *ngSwitch allows us to Add/Remove DOM Element. It is similar to 
     switch  statement of C#. <br>
    
   <br>
     *ngFor Directive: The *ngFor directive is used to repeat a portion of HTML template once per 
     each item from an iterable list (Collection).</p>

     <p><b>Attribute Directives:</b> Attribute directives are used to change the look and behavior
           of the DOM elements. For example: ngClass directive, and ngStyle directive etc.
          
<br>
<b>ngClass Directive:</b> The ngClass directive is used to add or remove CSS classes to an
 HTML element.
<br>
<b>ngStyle Directive: </b>The ngStyle directive facilitates you to modify the style of an 
HTML element using the expression.
 You can also use ngStyle directive to dynamically change the style of your HTML element.</p>

 <h2>*ngIf directive</h2>

<div class="div-container" *ngIf="showDiv"></div>
<br>
<button (click)="toggle()">Toggle Effect</button>
<br>
<br>

<div class="container" *ngIf="show"></div>
<br>
<button (click)="effect()">Toggle</button>
<br>
<br>
<div class="toggle-container" *ngIf="visiible"></div>
<br>
<button (click)="visible()">Visible or hide</button>

<h2>*ngFor Directive</h2>
<ul>
     <li>Coffee</li>
     <li>Tea</li>
     <li>Sugar</li>
     <li>Milk</li>
     <li>Coffee</li>
     <li>Tea</li>
     <li>Sugar</li>
     <li>Milk</li>
     <li>Coffee</li>
     <li>Tea</li>
     <li>Sugar</li>
     <li>Milk</li>
</ul>
     <ul>
          <li>
               {{listItem}}
          </li>
     </ul>
<ul>
     <li *ngFor="let items of listItem">{{items}}</li>
</ul>


<ul>
     <li>Student</li>
     <li>name</li>
     <li>adress</li>
     <li>age</li>
     <li>dob</li>
     <li>Student</li>
     <li>name</li>
     <li>adress</li>
     <li>age</li>
     <li>dob</li>
</ul>
<ul>
     <li>{{studentData}}</li>
</ul>
<ul>
     <li *ngFor="let student of studentData">{{student}}</li>
</ul>

<ul>
     <li>name</li>
     <li>age</li>
     <li>name</li>
     <li>age</li>
     <li>name</li>
     <li>age</li>
     <li>name</li>
     <li>age</li>
</ul>
<ul>
     <li>{{data}}</li>
</ul>
<ul>
     <li *ngFor="let studntdata of data">{{studntdata}}</li>
</ul>

<h2>*switch directive</h2>


