.div-container{
     border: 2px solid black;
     height: 150px;
     width: 150px;
     background-color: yellow;
}

.container{
     border: 1px solid black;
     height: 130px;
     width: 130px;
     background-color: lightblue;
}