.form-container{
     /* border: 1px solid black; */
     background-color: lightblue;
     height: 300px;
     width: 300px;
     border-radius: 20px;
     margin: auto;
     text-align: center;
     position: relative;
     top: 100px;
}
h2{
     color: blue;
     font-family: arial;
     font-weight: 600;
     font: 25px;
     position: relative;
     top: 20px;
}
label{
     position: relative;
     top: 15px;
     font-family: arial;
     font: bold;
     font-weight: 550;
}
input{
     margin: 20px;
     padding: 5px;
     border-radius: 10px;
     border: none;
     width: 65%;
}
button{
     margin: 15px;
     padding: 4px;
     border-radius: 25px;
     width: 25%;
     border: none;
     color: white;
     background-color: green;
     cursor: pointer;
}
button:active{
     color: white;
     background-color: blue;
}
.error-msg{
     color: red;
}